* text=auto

# text files 
*.sh text eol=lf

# binary files
*.jpg binary

# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*.123dx -text diff